        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">00:05</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/31-software-requirements/index.html">Software Requirements</a>
            </td>
            <td class="col-md-7">
                Where do we start when beginning a new software project?
                <br>
                How can we classify requirements for software?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">00:50</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/32-software-design/index.html">Software Architecture and Design</a>
            </td>
            <td class="col-md-7">
                Where do we start when beginning a new software project?
                <br>
                How can we make sure the components of our software are reusable?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">01:35</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/33-programming-paradigms/index.html">Programming Paradigms</a>
            </td>
            <td class="col-md-7">
                How does the structure of a problem affect the structure of our code?
                <br>
                How can we use common software paradigms to improve the quality of our software?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">01:45</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/35-object-oriented-programming/index.html">Object Oriented Programming</a>
            </td>
            <td class="col-md-7">
                How can we use code to describe the structure of data?
                <br>
                How should the relationships between structures be described?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">02:35</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/36-architecture-revisited/index.html">Architecture Revisited: Extending Software</a>
            </td>
            <td class="col-md-7">
                How can we extend our software within the constraints of the MVC architecture?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">02:50</td>
            <td class="col-md-3">Section end</td>
            <td class="col-md-7"></td>
        </tr>
        <tr style="background-color:#FBED65;">
            <td class="col-md-1"></td>
            <td class="col-md-1">00:00</td>
            <td class="col-md-3">
                 <a href="/python-intermediate-dev-vsc/60-wrap-up/index.html">Wrap-up</a>
            </td>
            <td class="col-md-7">
                Looking back at what was covered and how different pieces fit together
                <br>
                Where are some advanced topics and further reading available?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">00:15</td>
            <td class="col-md-3">Finish</td>
            <td class="col-md-7"></td>
        </tr>
