<h2>Day 1</h2>
<table class="table table-striped">
  <tbody><tr>
    <td class="col-md-2"></td>
    <td class="col-md-3"><a href="https://nclrse-training.github.io/git-novice/setup.html">Setup</a></td>
    <td class="col-md-7">Download files required for the lesson</td>
  </tr>
    <tr>
      <td class="col-md-2">09:00</td>
      <td class="col-md-3">
	1. <a href="https://nclrse-training.github.io/git-novice/01-basics/index.html">Automated Version Control</a>
      </td>
      <td class="col-md-7">
              What is version control and why should I use it?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:05</td>
      <td class="col-md-3">
	2. <a href="https://nclrse-training.github.io/git-novice/02-setup/index.html">Setting Up Git</a>
      </td>
      <td class="col-md-7">
              How do I get set up to use Git?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:10</td>
      <td class="col-md-3">
	3. <a href="https://nclrse-training.github.io/git-novice/03-create/index.html">Creating a Repository</a>
      </td>
      <td class="col-md-7">
              Where does Git store information?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:20</td>
      <td class="col-md-3">
	4. <a href="https://nclrse-training.github.io/git-novice/04-changes/index.html">Tracking Changes</a>
      </td>
      <td class="col-md-7">
              How do I record changes in Git?
              <br>
              How do I check the status of my version control repository?
              <br>
              How do I record notes about what changes I made and why?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:40</td>
      <td class="col-md-3">
	5. <a href="https://nclrse-training.github.io/git-novice/05-history/index.html">Exploring History</a>
      </td>
      <td class="col-md-7">
              How can I identify old versions of files?
              <br>
              How do I review my changes?
              <br>
              How can I recover old versions of files?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:05</td>
      <td class="col-md-3">
	6. <a href="https://nclrse-training.github.io/git-novice/06-ignore/index.html">Ignoring Things</a>
      </td>
      <td class="col-md-7">
              How can I tell Git to ignore files I don’t want to track?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:10</td>
      <td class="col-md-3">
	7. <a href="https://nclrse-training.github.io/git-novice/07-branching/index.html">Branches</a>
      </td>
      <td class="col-md-7">
              What are branches?
              <br>
              How can I work in parallel using branches?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:30</td>
      <td class="col-md-3">BREAK</td>
      <td class="col-md-7"></td>
    </tr>
    <tr>
      <td class="col-md-2">10:45</td>
      <td class="col-md-3">
	8. <a href="https://nclrse-training.github.io/git-novice/08-conflict/index.html">Conflicts</a>
      </td>
      <td class="col-md-7">
              What do I do when my changes conflict with someone else’s?
      </td>
    </tr>

    <tr>
      <td class="col-md-2">11:00</td>
      <td class="col-md-3">
	9. <a href="https://nclrse-training.github.io/git-novice/09-github/index.html">Remotes in GitHub</a>
      </td>
      <td class="col-md-7">
              How do I share my changes with others on the web?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">11:30</td>
      <td class="col-md-3">
	10. <a href="https://nclrse-training.github.io/git-novice/10-pull-requests/index.html">Pull Requests</a>
      </td>
      <td class="col-md-7">
              What are pull requests for?
              <br>
              How can I make a pull request?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">12:00</td>
      <td class="col-md-3">BREAK</td>
      <td class="col-md-7"></td>
    </tr>
    <tr>
      <td class="col-md-2">13:00</td>
      <td class="col-md-3">
	10. <a href="https://nclrse-training.github.io/git-novice/10-pull-requests/index.html">Pull Requests (Cont.)</a>
      </td>
      <td class="col-md-7">
              What are pull requests for?
              <br>
              How can I make a pull request?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:45</td>
      <td class="col-md-3">
	11. <a href="https://nclrse-training.github.io/git-novice/11-open/index.html">Open Science</a>
      </td>
      <td class="col-md-7">
              How can version control help me make my work more open?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:45</td>
      <td class="col-md-3">
	12. <a href="https://nclrse-training.github.io/git-novice/12-licensing/index.html">Licensing</a>
      </td>
      <td class="col-md-7">
              What licensing information should I include with my work?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:50</td>
      <td class="col-md-3">
	13. <a href="https://nclrse-training.github.io/git-novice/13-citation/index.html">Citation</a>
      </td>
      <td class="col-md-7">
              How can I make my work easier to cite?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:55</td>
      <td class="col-md-3">
	14. <a href="https://nclrse-training.github.io/git-novice/14-hosting/index.html">Hosting</a>
      </td>
      <td class="col-md-7">
              Where should I host my version control repositories?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">14:05</td>
      <td class="col-md-3">
	Feedback
      </td>
      <td class="col-md-7">
             
      </td>
    </tr>
  <tr>
    <td class="col-md-2">04:20</td>
    <td class="col-md-3">Finish</td>
    <td class="col-md-7"></td>
  </tr>
  </tbody>
</table>

<h2>Day 2</h2>
<table class="table table-striped">
        <tbody><tr>
            <td class="col-md-1"></td>
            <td class="col-md-1"></td>
            <td class="col-md-3"><a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/setup.html">Setup</a></td>
            <td class="col-md-7">Download software required for the course</td>
        </tr>
        <tr style="background-color:#FBED65;">
            <td class="col-md-1"></td>
            <td class="col-md-1">09:00</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/00-setting-the-scene/index.html">Setting the Scene</a>
            </td>
            <td class="col-md-7">
                What are we teaching in this course?
                <br>
                Why did we pick specific topics to cover?
            </td>
        </tr>
        <tr style="background-color:#fafac8;">
            <td class="col-md-1">Section 1</td>
            <td class="col-md-1">09:00</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/10-section1-intro/index.html">Section 1: Setting Up Environment For Collaborative Code Development</a>
            </td>
            <td class="col-md-7">
                What tools are needed to collaborate on code development effectively?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">09:10</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/11-software-project/index.html">Introduction to Our Software Project</a>
            </td>
            <td class="col-md-7">
                What is the design architecture of our software project?
                <br>
                Why is splitting code into smaller functional units (modules) good when designing software?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">09:40</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/12-virtual-environments/index.html">Virtual Environments For Software Development</a>
            </td>
            <td class="col-md-7">
                What are virtual environments in software development and why you should use them?
                <br>
                How can we manage Python virtual environments and external (third-party) libraries?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">10:10</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/13-ides/index.html">Integrated Software Development Environments</a>
            </td>
            <td class="col-md-7">
                What are Integrated Development Environments (IDEs)?
                <br>
                What are the advantages of using IDEs for software development?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">10:50</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/14-collaboration-using-git/index.html">Collaborative Software Development Using Git and GitHub</a>
            </td>
            <td class="col-md-7">
                What are Git branches and why are they useful for code development?
                <br>
                What are some best practices when developing software collaboratively using Git?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">11:25</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/15-git-in-vscode/index.html">Git in VS Code</a>
            </td>
            <td class="col-md-7">
                How does one initialise a repository within VS Code?
                <br>
                How does one stage and commit within VS Code?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">12:00</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/16-coding-conventions/index.html">Python Code Style Conventions</a>
            </td>
            <td class="col-md-7">
                Why should you follow software code style conventions?
                <br>
                Who is setting code style conventions?
                <br>
                What code style conventions exist for Python?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">12:35</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/17-verifying-code-style-linters/index.html">Verifying Code Style Using Linters</a>
            </td>
            <td class="col-md-7">
                What tools can help with maintaining a consistent code style?
                <br>
                How can we automate code style checking?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">13:00</td>
            <td class="col-md-3">Section end</td>
            <td class="col-md-7"></td>
        </tr>
        <tr style="background-color:#fafac8;">
            <td class="col-md-1">Section 2</td>
            <td class="col-md-1">14:00</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/20-section2-intro/index.html">Section 2: Ensuring Correctness of Software at Scale</a>
            </td>
            <td class="col-md-7">
                What should we do to ensure our code is correct?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">14:05</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/21-automatically-testing-software/index.html">Automatically Testing Software</a>
            </td>
            <td class="col-md-7">
                Does the code we develop work the way it should do?
                <br>
                Can we (and others) verify these assertions for themselves?
                <br>
                To what extent are we confident of the accuracy of results that appear in publications?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">14:55</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/22-scaling-up-unit-testing/index.html">Scaling Up Unit Testing</a>
            </td>
            <td class="col-md-7">
                How do we scale up the number of tests we want to run?
                <br>
                How can we know how much of our code is being tested?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">15:10</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/23-continuous-integration-automated-testing/index.html">Continuous Integration for Automated Testing</a>
            </td>
            <td class="col-md-7">
                How can I apply automated repository testing to scale with development activity?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">15:55</td>
            <td class="col-md-3">
                 <a href="https://nclrse-training.github.io/python-intermediate-dev-vsc/24-diagnosing-issues-improving-robustness/index.html">Diagnosing Issues and Improving Robustness</a>
            </td>
            <td class="col-md-7">
                Once we know our program has errors, how can we locate them in the code?
                <br>
                How can we make our programs more resilient to failure?
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-1">16:45</td>
            <td class="col-md-3">Section end</td>
            <td class="col-md-7"></td>
        </tr>
        </tbody>
</table>
